/* =============== GENÉRICO =============== */
*{
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }
  
  /* =============== HOME (SEÇÃO DE PROMOÇÃO + BANNER) =============== */
  #home .secao-promocao{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    background-color: #010101;
    padding: 1rem 0;
  }
  
  #home .secao-promocao .banner-img{
    padding: 0.62rem;
    border-radius: 0.25rem;
    width: 100%; 
    height: auto; 
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
  
  }
  
  .cardsProdutos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2.5rem;
    width: 100%;
  }
  
  /* =============== SESSÃO DE PRODUTOS E CARROSSEL =============== */
  .secao-produtos-carrossel{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .titulo h4{
    font-weight: 500;
    font-size: 1.25rem;
  }
  .titulo span{
    background-color: #5338ff88;
    color: #5438FF;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.25rem;
  }
  .carrossel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    overflow-x: scroll;
  }
  
  /* =============== RESPONSIVO =============== */
  @media (min-width:768px){
    #home .secao-promocao .banner-img{
      content: url('../../../../public/assets/Banner.png');
    }
  
    .carrossel{
      justify-content: space-evenly;
      overflow-x: auto;
    }
  }